

.product1{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
      .product11{
        width: 16%;
        height: 80px;
       
        justify-content: center;
        padding-top: 15px;
        padding-left: 17px;
        font-size: 25px;
      }
      .product12{
        width: 88%;
        height: 80px;
       
       
      }
      .product13{
        display: flex;
        justify-content: center;
        align-items: center;
    
      }
    
    }
    