
.product2{
    border: 2px solid rgb(45, 14, 103);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 

  .product24{
    width: 100%;
    height: 97%;
    border: 2px solid rgb(38, 255, 0);
    display: flex;
    margin-top: 8px;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-top: 15px;
  }
}
